#usercontainer{
  display: none;
}

h1{ text-align: center;
}

.container {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#usercontainer {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
